<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-4 has-text-centered">
                    <div class="icon is-large">
                        <i class="fas fa-globe-americas fa-4x"></i>
                    </div>
                    <p class="title is-5">Real Captured Data</p>
                    <p class="subtitle is-5">captured with the same setup as Cityscapes</p>

                    <div class="content">
                        We evaluate methods on our dense annotations of image data originally captured for the <a href="http://www.6d-vision.com/lostandfounddataset" target="_blank">Lost and Found</a> dataset.
                    </div>
                </div>
                <div class="column is-4 has-text-centered">
                    <div class="icon is-large">
                        <i class="fas fa-images fa-4x"></i>
                    </div>
                    <p class="title is-5">Open World Benchmark</p>
                    <p class="subtitle is-5">continuously changing anomaly objects</p>

                    <div class="content">
                        To test methods in open-world conditions, they are evaluated against random anomalies from the web that change every few months.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
