<section class="hero is-light">
    <div class="columns is-gapless is-mobile">
      <div class="column"><img src="{{ "/assets/img/example1.jpg" | relative_url }}" /></div>
      <div class="column is-hidden-mobile"><img src="{{ "/assets/img/example2.jpg" | relative_url }}" /></div>
      <div class="column is-hidden-touch"><img src="{{ "/assets/img/example3.jpg" | relative_url }}" /></div>
      <div class="column"><img src="{{ "/assets/img/lion.jpg" | relative_url }}" /></div>
    </div>
</section>
