---
---
//$primary: hsl(171, 100%, 41%);
$table-head-cell-border-width: 0 0 0px;
$content-table-head-cell-border-width: $table-head-cell-border-width;
$gap: 100px;
// Import Main CSS file from theme
@import "main";
@import "tabulator_bulma";

.method {
    font-size: 0.75rem;
    @include mobile {
        font-size: 0.4rem;
    }
    color: $white;
    margin-right: 5px;
}
.method-paper {
    font-size: 0.6rem;
    font-style: italic;
}
a.method-paper:hover{
 text-decoration: underline;
 color: $white;
}
